<h2 class="user-title">Sign up</h2>
<%= form_for @user, html: {class: 'user-form group'} do |f| %>
  <%= f.label :Username, "Username" %>
  <%= f.text_field :Username, class: "user-text-field" %>
  <%= f.label :FullName, "FullName" %>
  <%= f.text_field :FullName, class: "user-text-field" %>
  <%= f.label :avatar, "Profile picture" %>
  <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg' %>
  <%= f.label :cover_picture, "Profile cover picture" %>
  <%= f.file_field :cover_picture, accept: 'image/png,image/gif,image/jpeg' %>
  <%= f.submit "Sign up", disable_with: 'Signing up...', class: 'user-submit btn btn-primary' %>
<% end %>