<!DOCTYPE html>
<html>

<head>
    <title>QuickGameReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/kuc3xbe.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid">
        <div class="row top-container">
            <%= render 'partials/common/sidebar' %>
            <div class="main-container col-10">
                <div class="top-bar row">
                  <h3>top bar</h3>
                </div>
                <div class="main-content row">
                    <%= render partial: 'partials/common/notices' %>
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c0ee282a11.js" crossorigin="anonymous"></script>
</body>

</html>